@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    313deg,
    rgba(27, 201, 204, 1) 7%,
    rgb(4, 14, 148) 95%
  );
}

h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 3.5rem;
  padding-bottom: 1rem;
  color: rgb(220, 209, 209);
}

/* Nav */
.navLink {
  text-decoration: none;
  color: rgb(220, 209, 209);
  cursor: pointer;
}

.navUl {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 7rem;
}

li {
  list-style: none;
}

/* Home */

.homeWrapper {
  height: 100vh;
  color: rgb(202, 207, 212);
}

.homeWrapper h1,
.homeWrapper p {
  text-align: center;
}

/* Skills - site */

.subject {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  border-radius: 8px;
  height: 4.5rem;
  width: 100%;
}

textarea::placeholder {
  padding: 0.5rem;
}

.toLearn {
  padding: 1rem;
  font-family: "Philosopher", sans-serif;
}

.labelText {
  margin: 5px;
}

.removeBtn,
.addBtn {
  margin-top: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 7px;
  border: none;
  background-color: rgb(160, 196, 205);
}

.addSubject {
  padding-bottom: 2rem;
}

.singleSubject {
  padding: 1rem;
  margin: 4px;
  min-width: 20rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.allSubjects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.removeBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addSubject input {
  padding: 0.2rem;
  border-radius: 8px;
  border: none;
  margin-right: 0.5rem;
}
